### Review Data

In [24]:
import pandas as pd
import os
# df = pd.read_csv('./data/OperationData_20150101_0000-20150201_0000.csv',encoding='unicode_escape')
# df = pd.read_csv('./data/OperationData_20150101_0000-20150201_0000.csv')
# encoding the Farenheit symbol
df = pd.read_csv('./data/OperationData_20150101_0000-20150201_0000.csv', encoding='ISO-8859-1')
df.head()

             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-01-01 00:00:00  176.073435   1604.133957  1036.908928         1.251465
1  2015-01-01 00:30:00  175.514388   1596.603236  1040.967765         2.490875
2  2015-01-01 01:00:00  175.475317   1595.972792  1044.105156         1.380493
3  2015-01-01 01:30:00  174.993507   1590.974800  1045.549607         2.073746
4  2015-01-01 02:00:00  174.810117   1589.160029  1045.523330         0.916718

In [12]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1488 non-null   object
 1   Power (MW)       1488 non-null   float64
 2   Press (psig)     1488 non-null   float64
 3   Temp (°F)        1488 non-null   float64
 4   PowerSwing (MW)  1488 non-null   float64
dtypes: float64(4), object(1)
memory usage: 58.2+ KB

        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1488.000000   1488.000000  1488.000000      1488.000000
mean    116.970712   1136.825006   986.095730         6.349420
std      57.229994    491.600304   189.236241        12.409388
min       0.000000     12.913161   168.609620         0.000000
25%      82.551512    880.023605  1040.544015         1.944782
50%     127.295305   1233.081200  1044.385760         2.801788
75%     173.903132   1607.254306  1048.488251         4.712360
max     180.928309   1652.035408  1066.887023       200.000015

In [ ]:
import gc
def os_walk_to_df():
    num = 1
    for root, dirs, files in os.walk('./data'):
        for file in files:
            # dataframe
            try:
                df = pd.read_csv(os.path.join(root, file))
            except UnicodeDecodeError:
                print(f'Error reading {file} due to encoding, trying ISO-8859-1\n')
                df = pd.read_csv(os.path.join(root, file), encoding='ISO-8859-1')
            print(f'File {num} is {file}')
            print(df.head())
            print(df.info())
            print(df.describe())
            print(df.columns)
            # check if datetime is in cronological order
            print(df['Timestamp'].head())
            print(df['Timestamp'].tail())
            print(f'\n___________________________________________________________\n')
            # deleting dataframe for next iteration
            del df
            gc.collect()
            num += 1
    return

In [21]:
os_walk_to_df()

Error reading OperationData_20150101_0000-20150201_0000.csv due to encoding, trying ISO-8859-1

File 1 is OperationData_20150101_0000-20150201_0000.csv
             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-01-01 00:00:00  176.073435   1604.133957  1036.908928         1.251465
1  2015-01-01 00:30:00  175.514388   1596.603236  1040.967765         2.490875
2  2015-01-01 01:00:00  175.475317   1595.972792  1044.105156         1.380493
3  2015-01-01 01:30:00  174.993507   1590.974800  1045.549607         2.073746
4  2015-01-01 02:00:00  174.810117   1589.160029  1045.523330         0.916718
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1488 non-null   object
 1   Power (MW)       1488 non-null   float64
 2   Press (psig)     1488 non-null   float64
 3   Temp (°F)        1488 non-null   float64
 4   PowerSwing (MW)  1488 non-null   float64
dtypes: float64(4), object(1)
memory usage: 58.2+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1488.000000   1488.000000  1488.000000      1488.000000
mean    116.970712   1136.825006   986.095730         6.349420
std      57.229994    491.600304   189.236241        12.409388
min       0.000000     12.913161   168.609620         0.000000
25%      82.551512    880.023605  1040.544015         1.944782
50%     127.295305   1233.081200  1044.385760         2.801788
75%     173.903132   1607.254306  1048.488251         4.712360
max     180.928309   1652.035408  1066.887023       200.000015
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-01-01 00:00:00
1    2015-01-01 00:30:00
2    2015-01-01 01:00:00
3    2015-01-01 01:30:00
4    2015-01-01 02:00:00
Name: Timestamp, dtype: object
1483    2015-01-31 21:30:00
1484    2015-01-31 22:00:00
1485    2015-01-31 22:30:00
1486    2015-01-31 23:00:00
1487    2015-01-31 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150201_0000-20150301_0000.csv due to encoding, trying ISO-8859-1

File 2 is OperationData_20150201_0000-20150301_0000.csv
             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-02-01 00:00:00  172.027224   1594.970430  1042.828455         1.979584
1  2015-02-01 00:30:00  171.821454   1593.190714  1043.267411         1.695374
2  2015-02-01 01:00:00  171.761402   1592.184784  1043.395426         1.942383
3  2015-02-01 01:30:00  171.706870   1591.218183  1043.597321         2.174591
4  2015-02-01 02:00:00  171.676724   1589.999864  1043.416473         2.035782
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1344 non-null   object
 1   Power (MW)       1344 non-null   float64
 2   Press (psig)     1344 non-null   float64
 3   Temp (°F)        1344 non-null   float64
 4   PowerSwing (MW)  1344 non-null   float64
dtypes: float64(4), object(1)
memory usage: 52.6+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1344.000000   1344.000000  1344.000000      1344.000000
mean     96.002102    945.436734   888.000725         4.604321
std      68.737156    607.444255   300.585371        12.457227
min       0.000000     12.109022   110.569631         0.000000
25%      44.390227    684.156462   990.470473         0.741497
50%      83.161242    885.299204  1043.450280         1.390377
75%     174.617110   1605.370209  1045.233447         2.926706
max     180.706507   1660.047033  1072.730349       200.000000
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-02-01 00:00:00
1    2015-02-01 00:30:00
2    2015-02-01 01:00:00
3    2015-02-01 01:30:00
4    2015-02-01 02:00:00
Name: Timestamp, dtype: object
1339    2015-02-28 21:30:00
1340    2015-02-28 22:00:00
1341    2015-02-28 22:30:00
1342    2015-02-28 23:00:00
1343    2015-02-28 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150301_0000-20150401_0000.csv due to encoding, trying ISO-8859-1

File 3 is OperationData_20150301_0000-20150401_0000.csv
             Timestamp  Power (MW)  Press (psig)   Temp (°F)  PowerSwing (MW)
0  2015-03-01 00:00:00         0.0     13.183599  109.540264              0.0
1  2015-03-01 00:30:00         0.0     13.186181  108.913239              0.0
2  2015-03-01 01:00:00         0.0     13.182611  108.118450              0.0
3  2015-03-01 01:30:00         0.0     13.177313  107.212212              0.0
4  2015-03-01 02:00:00         0.0     13.172512  106.426771              0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1486 entries, 0 to 1485
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1486 non-null   object
 1   Power (MW)       1486 non-null   float64
 2   Press (psig)     1486 non-null   float64
 3   Temp (°F)        1486 non-null   float64
 4   PowerSwing (MW)  1486 non-null   float64
dtypes: float64(4), object(1)
memory usage: 58.2+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1486.000000   1486.000000  1486.000000      1486.000000
mean     54.008381    608.878622   688.812779         3.894354
std      57.388557    564.740088   425.901641        17.897778
min       0.000000     13.017316    73.964652         0.000000
25%       0.000000     13.191428   134.345343         0.000000
50%      61.743848    771.206244  1038.838581         0.816763
75%      81.558041    902.748982  1040.902399         1.281878
max     180.398612   1653.598578  1048.684571       200.000000
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-03-01 00:00:00
1    2015-03-01 00:30:00
2    2015-03-01 01:00:00
3    2015-03-01 01:30:00
4    2015-03-01 02:00:00
Name: Timestamp, dtype: object
1481    2015-03-31 21:30:00
1482    2015-03-31 22:00:00
1483    2015-03-31 22:30:00
1484    2015-03-31 23:00:00
1485    2015-03-31 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150401_0000-20150501_0000.csv due to encoding, trying ISO-8859-1

File 4 is OperationData_20150401_0000-20150501_0000.csv
             Timestamp  Power (MW)  Press (psig)  Temp (°F)  PowerSwing (MW)
0  2015-04-01 00:00:00         0.0     13.154118  76.745386              0.0
1  2015-04-01 00:30:00         0.0     13.146269  76.831332              0.0
2  2015-04-01 01:00:00         0.0     13.142536  76.581600              0.0
3  2015-04-01 01:30:00         0.0     13.145558  76.445683              0.0
4  2015-04-01 02:00:00         0.0     13.147379  76.450616              0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1440 non-null   object
 1   Power (MW)       1440 non-null   float64
 2   Press (psig)     1440 non-null   float64
 3   Temp (°F)        1440 non-null   float64
 4   PowerSwing (MW)  1440 non-null   float64
dtypes: float64(4), object(1)
memory usage: 56.4+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1440.000000   1440.000000  1440.000000      1440.000000
mean    100.562003   1034.958787   914.454479         3.361364
std      63.796831    580.920309   296.743325        12.845364
min       0.000000     12.967729    75.207690         0.000000
25%      63.786735    836.089747  1039.249845         0.799038
50%      81.946788    891.455255  1043.637549         1.081650
75%     167.571268   1622.370076  1047.143464         1.540939
max     174.495221   1647.766852  1052.600953       200.000000
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-04-01 00:00:00
1    2015-04-01 00:30:00
2    2015-04-01 01:00:00
3    2015-04-01 01:30:00
4    2015-04-01 02:00:00
Name: Timestamp, dtype: object
1435    2015-04-30 21:30:00
1436    2015-04-30 22:00:00
1437    2015-04-30 22:30:00
1438    2015-04-30 23:00:00
1439    2015-04-30 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150501_0000-20150601_0000.csv due to encoding, trying ISO-8859-1

File 5 is OperationData_20150501_0000-20150601_0000.csv
             Timestamp  Power (MW)  Press (psig)   Temp (°F)  PowerSwing (MW)
0  2015-05-01 00:00:00         0.0     13.970366  898.863862              0.0
1  2015-05-01 00:30:00         0.0     13.928687  882.673826              0.0
2  2015-05-01 01:00:00         0.0     13.943616  868.283741              0.0
3  2015-05-01 01:30:00         0.0     13.954403  851.563296              0.0
4  2015-05-01 02:00:00         0.0     13.916832  836.117558              0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1488 non-null   object
 1   Power (MW)       1488 non-null   float64
 2   Press (psig)     1488 non-null   float64
 3   Temp (°F)        1488 non-null   float64
 4   PowerSwing (MW)  1488 non-null   float64
dtypes: float64(4), object(1)
memory usage: 58.2+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1488.000000   1488.000000  1488.000000      1488.000000
mean     92.613978    987.216816  1011.146985         4.773474
std      49.508768    424.884073   121.936905        11.073064
min       0.000000     13.145591   323.917533         0.000000
25%      70.968949    809.157050  1039.557408         0.699167
50%      79.980448    874.795247  1043.530154         1.024176
75%     138.256380   1382.662050  1047.274786         3.151241
max     175.051696   1645.770040  1052.934846       117.818077
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-05-01 00:00:00
1    2015-05-01 00:30:00
2    2015-05-01 01:00:00
3    2015-05-01 01:30:00
4    2015-05-01 02:00:00
Name: Timestamp, dtype: object
1483    2015-05-31 21:30:00
1484    2015-05-31 22:00:00
1485    2015-05-31 22:30:00
1486    2015-05-31 23:00:00
1487    2015-05-31 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150601_0000-20150701_0000.csv due to encoding, trying ISO-8859-1

File 6 is OperationData_20150601_0000-20150701_0000.csv
             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-06-01 00:00:00   78.705286    807.455474  1047.653958        12.373840
1  2015-06-01 00:30:00   65.705141    728.287695  1049.127991        17.027725
2  2015-06-01 01:00:00   63.053832    712.084283  1048.822818         0.850960
3  2015-06-01 01:30:00   63.199763    711.581740  1048.950577         0.800240
4  2015-06-01 02:00:00   63.165341    711.605752  1048.869347         0.863640
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1440 non-null   object
 1   Power (MW)       1440 non-null   float64
 2   Press (psig)     1440 non-null   float64
 3   Temp (°F)        1440 non-null   float64
 4   PowerSwing (MW)  1440 non-null   float64
dtypes: float64(4), object(1)
memory usage: 56.4+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1440.000000   1440.000000  1440.000000      1440.000000
mean    126.786842   1250.531542  1036.904265         5.463836
std      47.673042    409.335110    39.643316        15.416650
min       0.000000     13.834501   727.900315         0.000000
25%      79.790575    868.643303  1042.061134         0.394320
50%     159.842694   1536.705983  1043.000313         0.902794
75%     169.776763   1614.194738  1047.314186         1.668268
max     173.265859   1634.326700  1050.201257       170.425201
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-06-01 00:00:00
1    2015-06-01 00:30:00
2    2015-06-01 01:00:00
3    2015-06-01 01:30:00
4    2015-06-01 02:00:00
Name: Timestamp, dtype: object
1435    2015-06-30 21:30:00
1436    2015-06-30 22:00:00
1437    2015-06-30 22:30:00
1438    2015-06-30 23:00:00
1439    2015-06-30 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150701_0000-20150801_0000.csv due to encoding, trying ISO-8859-1

File 7 is OperationData_20150701_0000-20150801_0000.csv
             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-07-01 00:00:00   80.312674    870.252909  1047.492673         1.417183
1  2015-07-01 00:30:00   79.127714    870.578029  1047.908754         0.364220
2  2015-07-01 01:00:00   77.830156    837.674462  1047.367918         5.078064
3  2015-07-01 01:30:00   73.139168    806.581184  1046.519570         1.837891
4  2015-07-01 02:00:00   68.609434    772.710094  1048.510440         6.300125
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1488 non-null   object
 1   Power (MW)       1488 non-null   float64
 2   Press (psig)     1488 non-null   float64
 3   Temp (°F)        1488 non-null   float64
 4   PowerSwing (MW)  1488 non-null   float64
dtypes: float64(4), object(1)
memory usage: 58.2+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1488.000000   1488.000000  1488.000000      1488.000000
mean    130.277782   1296.538383  1043.502133         6.205177
std      46.170667    380.515998     4.531130        18.983099
min       0.000000    698.378173  1027.848176         0.000000
25%      79.019227    864.387518  1041.475259         0.769755
50%     168.227013   1606.908797  1041.953848         1.154961
75%     169.633435   1617.265450  1046.414256         1.982798
max     172.552164   1644.478798  1082.249415       200.000000
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-07-01 00:00:00
1    2015-07-01 00:30:00
2    2015-07-01 01:00:00
3    2015-07-01 01:30:00
4    2015-07-01 02:00:00
Name: Timestamp, dtype: object
1483    2015-07-31 21:30:00
1484    2015-07-31 22:00:00
1485    2015-07-31 22:30:00
1486    2015-07-31 23:00:00
1487    2015-07-31 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150801_0000-20150901_0000.csv due to encoding, trying ISO-8859-1

File 8 is OperationData_20150801_0000-20150901_0000.csv
             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-08-01 00:00:00  171.256363   1625.657861  1042.679463         1.172089
1  2015-08-01 00:30:00  170.861403   1625.150586  1042.601126         1.246597
2  2015-08-01 01:00:00  170.365403   1624.807532  1042.613586         1.203705
3  2015-08-01 01:30:00  170.430140   1624.942355  1042.513805         1.149399
4  2015-08-01 02:00:00  170.658658   1625.261518  1042.952790         0.934296
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1488 non-null   object
 1   Power (MW)       1488 non-null   float64
 2   Press (psig)     1488 non-null   float64
 3   Temp (°F)        1488 non-null   float64
 4   PowerSwing (MW)  1488 non-null   float64
dtypes: float64(4), object(1)
memory usage: 58.2+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1488.000000   1488.000000  1488.000000      1488.000000
mean    152.121170   1477.174664  1043.265257         5.052088
std      32.998936    278.034307     2.203194        10.830913
min      59.595339    697.466128  1028.861774         0.692280
25%     151.674756   1473.561013  1042.089926         1.115273
50%     168.724887   1618.898920  1042.838036         1.356407
75%     170.174626   1626.857294  1043.629717         2.991214
max     172.825870   1640.114006  1050.877520        97.569168
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-08-01 00:00:00
1    2015-08-01 00:30:00
2    2015-08-01 01:00:00
3    2015-08-01 01:30:00
4    2015-08-01 02:00:00
Name: Timestamp, dtype: object
1483    2015-08-31 21:30:00
1484    2015-08-31 22:00:00
1485    2015-08-31 22:30:00
1486    2015-08-31 23:00:00
1487    2015-08-31 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20150901_0000-20151001_0000.csv due to encoding, trying ISO-8859-1

File 9 is OperationData_20150901_0000-20151001_0000.csv
             Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0  2015-09-01 00:00:00   88.282493    945.075522  1029.394958        51.061798
1  2015-09-01 00:30:00   79.890746    872.268885  1046.116004         1.125496
2  2015-09-01 01:00:00   79.869183    873.689786  1047.676873         0.776314
3  2015-09-01 01:30:00   79.746902    873.840313  1048.108499         0.850525
4  2015-09-01 02:00:00   79.761220    874.053197  1047.687517         0.929634
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        1440 non-null   object
 1   Power (MW)       1440 non-null   float64
 2   Press (psig)     1440 non-null   float64
 3   Temp (°F)        1440 non-null   float64
 4   PowerSwing (MW)  1440 non-null   float64
dtypes: float64(4), object(1)
memory usage: 56.4+ KB
None
        Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
count  1440.000000   1440.000000  1440.000000      1440.000000
mean    142.351871   1393.660744  1043.259859         5.703815
std      40.498745    337.816901     5.233397        11.854639
min       0.000000    121.817695   912.865613         0.000000
25%      94.412871    997.408911  1042.320209         1.104561
50%     168.493573   1616.888511  1043.419220         1.411850
75%     170.354582   1626.522931  1044.325733         3.833991
max     173.322429   1642.063907  1050.250091       200.000000
Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)'],
      dtype='object')
0    2015-09-01 00:00:00
1    2015-09-01 00:30:00
2    2015-09-01 01:00:00
3    2015-09-01 01:30:00
4    2015-09-01 02:00:00
Name: Timestamp, dtype: object
1435    2015-09-30 21:30:00
1436    2015-09-30 22:00:00
1437    2015-09-30 22:30:00
1438    2015-09-30 23:00:00
1439    2015-09-30 23:30:00
Name: Timestamp, dtype: object

___________________________________________________________

Error reading OperationData_20151001_0000-20151101_0000.csv due to encoding, trying ISO-8859-1

File 10 is OperationData_20151001_0000-20151101_0000.csv
             Timestamp  Power (MW)  Press (psig)   Temp (°F)  PowerSwing (MW)
0  2015-10-01 00:00:00         0.0    123.747922  897.207453              0.0
1  2015-10-01 00:30:00         0.0    125.268319  881.186860              0.0

### Data is already formatted and clean, no need to clean it
- No missing values

### Using glob to get all files in the data folder into one dataframe

In [22]:
import glob
csv_files = glob.glob('./data/*.csv')
print(csv_files)

['./data\\OperationData_20150101_0000-20150201_0000.csv', './data\\OperationData_20150201_0000-20150301_0000.csv', './data\\OperationData_20150301_0000-20150401_0000.csv', './data\\OperationData_20150401_0000-20150501_0000.csv', './data\\OperationData_20150501_0000-20150601_0000.csv', './data\\OperationData_20150601_0000-20150701_0000.csv', './data\\OperationData_20150701_0000-20150801_0000.csv', './data\\OperationData_20150801_0000-20150901_0000.csv', './data\\OperationData_20150901_0000-20151001_0000.csv', './data\\OperationData_20151001_0000-20151101_0000.csv', './data\\OperationData_20151101_0000-20151201_0000.csv', './data\\OperationData_20151201_0000-20160101_0000.csv', './data\\OperationData_20160101_0000-20160201_0000.csv', './data\\OperationData_20160201_0000-20160301_0000.csv', './data\\OperationData_20160301_0000-20160401_0000.csv', './data\\OperationData_20160401_0000-20160501_0000.csv', './data\\OperationData_20160501_0000-20160601_0000.csv', './data\\OperationData_20160601_0000-20160701_0000.csv', './data\\OperationData_20160701_0000-20160801_0000.csv', './data\\OperationData_20160801_0000-20160901_0000.csv', './data\\OperationData_20160901_0000-20161001_0000.csv', './data\\OperationData_20161001_0000-20161101_0000.csv', './data\\OperationData_20161101_0000-20161201_0000.csv', './data\\OperationData_20161201_0000-20170101_0000.csv']

In [9]:
import glob
import pandas as pd
import os
csv_files = glob.glob('./data/*.csv')

df = pd.DataFrame()

for csv_file in csv_files:
    temp_df = pd.read_csv(csv_file, encoding='ISO-8859-1')
    df = pd.concat([df, temp_df])

In [2]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 35088 entries, 0 to 1487
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Timestamp        35088 non-null  object
 1   Power (MW)       35088 non-null  float64
 2   Press (psig)     35088 non-null  float64
 3   Temp (°F)        35088 non-null  float64
 4   PowerSwing (MW)  35088 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.6+ MB

         Power (MW)  Press (psig)     Temp (°F)  PowerSwing (MW)
count  35088.000000  3.508800e+04  35088.000000     35088.000000
mean     119.583132  1.154170e+03    960.088688         4.838411
std       57.412274  5.376784e+02    252.845137        12.590065
min        0.000000 -2.384186e-07      0.000000         0.000000
25%       78.336026  8.395125e+02   1041.958642         0.936812
50%      149.789777  1.413703e+03   1045.213731         1.261902
75%      168.695679  1.612878e+03   1049.201593         3.052841
max      180.928309  1.664734e+03   1131.162892       200.000015

In [6]:
df.head()

                     Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
Timestamp
2015-01-01 00:00:00  176.073435   1604.133957  1036.908928         1.251465
2015-01-01 00:30:00  175.514388   1596.603236  1040.967765         2.490875
2015-01-01 01:00:00  175.475317   1595.972792  1044.105156         1.380493
2015-01-01 01:30:00  174.993507   1590.974800  1045.549607         2.073746
2015-01-01 02:00:00  174.810117   1589.160029  1045.523330         0.916718

### Aggregate 30 minute intervals into 1 hour intervals
- Since this is operational monitoring data, we can assume that the data is continuous and that there are no missing values. Therefore, we can aggregate the data into 1 hour intervals to see how power output fluctuates on average.

In [10]:
df['Timestamp'] = pd.to_datetime(df['Timestamp']) 
df = df.set_index('Timestamp') 
df = df.resample('h').agg({'Power (MW)': 'mean','Press (psig)': 'mean', 'Temp (°F)': 'mean', 'PowerSwing (MW)': 'mean'})
df = df.reset_index() 
df.head()

            Timestamp  Power (MW)  Press (psig)    Temp (°F)  PowerSwing (MW)
0 2015-01-01 00:00:00  175.793911   1600.368596  1038.938347         1.871170
1 2015-01-01 01:00:00  175.234412   1593.473796  1044.827381         1.727119
2 2015-01-01 02:00:00  174.828958   1589.024518  1045.384929         0.990280
3 2015-01-01 03:00:00  175.044416   1589.660726  1044.916863         1.253075
4 2015-01-01 04:00:00  175.742083   1595.271013  1044.403328         2.097496

### Calculate supporting columns for Enthalpy and add it as new columns
- add any supporting columns if needed

In [11]:
from  iapws import IAPWS97
# Pounds per square gauge (PSIG) to pounds per square inch absolute (PSIA or total pressure)
# https://www.thecompressedairblog.com/psi-psia-and-psig-whats-the-difference#:~:text=PSIA%20is%20pounds%20per%20square,relative%20to%20ambient%20atmospheric%20pressure.
df['Press_psia'] = df['Press (psig)'] + 14.7
# Convert the temperature from Farenheit to Kelvin
df['temp_degK'] = (df['Temp (°F)'] - 32) * 5/9 + 273.15
# Convert PSIA to megapascals (MPa)
df['Press_MPa'] = df['Press_psia'] * 6894.76 / 10**6 # 1,000,000 (1 psi = 6894.76 Pa)
df.head()

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa
0,2015-01-01 00:00:00,175.793911,1600.368596,1038.938347,1.871170,1615.068596,832.560193,11.135510
1,2015-01-01 01:00:00,175.234412,1593.473796,1044.827381,1.727119,1608.173796,835.831878,11.087972
2,2015-01-01 02:00:00,174.828958,1589.024518,1045.384929,0.990280,1603.724518,836.141627,11.057296
3,2015-01-01 03:00:00,175.044416,1589.660726,1044.916863,1.253075,1604.360726,835.881591,11.061682
4,2015-01-01 04:00:00,175.742083,1595.271013,1044.403328,2.097496,1609.971013,835.596293,11.100364

In [14]:
# h: Specific enthalpy, [kJ/kg] = IAPWS97(mega_pascals, Temperature_Kelvin)
def calculate_enthalpy(row):
    try:
        return IAPWS97(P=row['Press_MPa'], T=row['temp_degK']).h
    except NotImplementedError as e: # temp., I believe, does meet the IAPWS97 standard
        print(f"Error for Timestamp {row['Timestamp']} P={row['Press_MPa']}, T={row['temp_degK']}: {e}")
        return None

df['Steam'] = df.apply(calculate_enthalpy, axis=1)

Error for Timestamp 2015-03-08 02:00:00 P=nan, T=nan: Incoming out of bound
Error for Timestamp 2016-03-13 02:00:00 P=nan, T=nan: Incoming out of bound
Error for Timestamp 2016-03-31 17:00:00 P=0.11169507153242735, T=260.43608187694196: Incoming out of bound
Error for Timestamp 2016-11-12 17:00:00 P=0.19424007970042032, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-12 18:00:00 P=0.19441724068984967, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-12 19:00:00 P=0.1942521680513782, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-12 20:00:00 P=0.19423448151943465, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-12 21:00:00 P=0.19421119276814144, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-12 22:00:00 P=0.1942773756265752, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-12 23:00:00 P=0.19443216721448325, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 00:00:00 P=0.19438756966286222, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 01:00:00 P=0.19436617869616127, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 02:00:00 P=0.19436211894928243, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 03:00:00 P=0.19434541825308738, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 04:00:00 P=0.194340948014069, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 05:00:00 P=0.1943489474546198, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 06:00:00 P=0.19431761030742736, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 07:00:00 P=0.19432338142756933, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 08:00:00 P=0.1943117427377788, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 09:00:00 P=0.19433146828016631, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 10:00:00 P=0.1943526009577692, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 11:00:00 P=0.19433840299896712, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 12:00:00 P=0.1943174794468934, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 13:00:00 P=0.1942937423038416, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 14:00:00 P=0.19424081436489352, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 15:00:00 P=0.1942363410537228, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 16:00:00 P=0.19427531606266588, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 17:00:00 P=0.19428918625460703, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 18:00:00 P=0.19428082374484126, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 19:00:00 P=0.1943061843285619, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 20:00:00 P=0.19429721068698874, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 21:00:00 P=0.19429897303752214, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 22:00:00 P=0.1943063108548404, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-13 23:00:00 P=0.19428794896265106, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 00:00:00 P=0.19426861785209767, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 01:00:00 P=0.19406682770688508, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 02:00:00 P=0.19429507349735387, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 03:00:00 P=0.19432978627682435, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 04:00:00 P=0.19428895761488305, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 05:00:00 P=0.1941776763800891, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 06:00:00 P=0.1941099863643228, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 07:00:00 P=0.19397753314956417, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 08:00:00 P=0.19426708024538963, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 09:00:00 P=0.19434574762725823, T=255.7979341695338: Incoming out of bound
Error for Timestamp 2016-11-14 10:00:00 P=0.19432470879276367, T=255.50925771807445: Incoming out of bound
Error for Timestamp 2016-11-14 11:00:00 P=0.19433362937487075, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 12:00:00 P=0.1943065401338348, T=262.65333895801024: Incoming out of bound
Error for Timestamp 2016-11-14 13:00:00 P=0.19435786697005852, T=255.69561445742477: Incoming out of bound
Error for Timestamp 2016-11-14 14:00:00 P=0.1943770260327816, T=255.40876726456628: Incoming out of bound
Error for Timestamp 2016-11-14 15:00:00 P=0.19441031224320754, T=255.39066849520174: Incoming out of bound
Error for Timestamp 2016-11-14 16:00:00 P=0.19440201872170676, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 17:00:00 P=0.19437218254187993, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 18:00:00 P=0.19405689037937887, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 19:00:00 P=0.19421854705489883, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 20:00:00 P=0.19423970880470615, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 21:00:00 P=0.19430487154969772, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 22:00:00 P=0.19408609764288784, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-14 23:00:00 P=0.19389812386667846, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 00:00:00 P=0.19388546596755696, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 01:00:00 P=0.19397384164268658, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 02:00:00 P=0.19383781613955203, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 03:00:00 P=0.19378966755073884, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 04:00:00 P=0.1937333642735777, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 05:00:00 P=0.19374869499810113, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 06:00:00 P=0.19374370980280833, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 07:00:00 P=0.19376353720475897, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 08:00:00 P=0.19379906497580268, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 09:00:00 P=0.19396247166758507, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 10:00:00 P=0.19414244462424549, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 11:00:00 P=0.19437762915726736, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 12:00:00 P=0.19447095310706874, T=255.57102282606525: Incoming out of bound
Error for Timestamp 2016-11-15 13:00:00 P=0.19447654976476336, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 14:00:00 P=0.19446369181775608, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 15:00:00 P=0.19422307900362912, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 16:00:00 P=0.19406053890169642, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 17:00:00 P=0.19378694430331928, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 18:00:00 P=0.19401347862006826, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 19:00:00 P=0.19385456096551507, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 20:00:00 P=0.19374203860496733, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 21:00:00 P=0.19341430630450812, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 22:00:00 P=0.19357151215109392, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-15 23:00:00 P=0.19368215773896288, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 00:00:00 P=0.19383684924082725, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 01:00:00 P=0.19386580431205455, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 02:00:00 P=0.19384884886832113, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 03:00:00 P=0.19385086767050588, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 04:00:00 P=0.19385320119112384, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 05:00:00 P=0.19380714433249413, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 06:00:00 P=0.19373789755929713, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 07:00:00 P=0.19340089635640384, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 08:00:00 P=0.19372497694367158, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 09:00:00 P=0.1939041667152143, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 10:00:00 P=0.19376914611087992, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 11:00:00 P=0.1943280689967, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 12:00:00 P=0.1941890565159415, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 13:00:00 P=0.19434253260351878, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 14:00:00 P=0.19431907580988225, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 15:00:00 P=0.19412428502469517, T=255.3722222222222: Incoming out of bound
Error for Timestamp 2016-11-16 16:00:00 P=0.19402195403964723, T=255.38038012657634: Incoming out of bound
Error for Timestamp 2016-11-16 17:00:00 P=0.19374382390897102, T=265.86763525877467: Incoming out of bound

In [15]:
df.head()

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam
0,2015-01-01 00:00:00,175.793911,1600.368596,1038.938347,1.871170,1615.068596,832.560193,11.135510,3514.388371
1,2015-01-01 01:00:00,175.234412,1593.473796,1044.827381,1.727119,1608.173796,835.831878,11.087972,3523.128240
2,2015-01-01 02:00:00,174.828958,1589.024518,1045.384929,0.990280,1603.724518,836.141627,11.057296,3524.206645
3,2015-01-01 03:00:00,175.044416,1589.660726,1044.916863,1.253075,1604.360726,835.881591,11.061682,3523.507489
4,2015-01-01 04:00:00,175.742083,1595.271013,1044.403328,2.097496,1609.971013,835.596293,11.100364,3522.413117

### Review temperature less than 1000 F

In [13]:
df[df['Steam'].isnull()]['Temp (°F)'].max()

18.891743465794477

In [15]:
df[df['Steam'].isnull() &
df['Temp (°F)'].between(18, 28)]

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam
16457,2016-11-16 17:00:00,0.0,13.400155,18.891743,0.0,28.100155,265.867635,0.193744,NaN

In [20]:
df[df['Steam'].between(0,80)]

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam
10936,2016-03-31 16:00:00,0.0,10.208063,61.733828,0.0,24.908063,289.668793,0.171735,69.507297
10938,2016-03-31 18:00:00,0.0,10.558308,64.614762,0.0,25.258308,291.269312,0.174150,76.210428
10953,2016-04-01 09:00:00,0.0,9.937688,60.777523,0.0,24.637688,289.137513,0.169871,67.280717

### Convert the Enthalpy to BTU/lb for the temperature greater than 1000 F
- applying the formula for all rows and filtering once visualized to 1000 F or greater

In [16]:
# Specific Enthalpy of Superheated Steam from (kJ/kg) to (BTU/lb)
df['Enthalpy'] = df['Steam'] * 0.4299226

In [17]:
df.head()

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam,Enthalpy
0,2015-01-01 00:00:00,175.793911,1600.368596,1038.938347,1.871170,1615.068596,832.560193,11.135510,3514.388371,1510.914986
1,2015-01-01 01:00:00,175.234412,1593.473796,1044.827381,1.727119,1608.173796,835.831878,11.087972,3523.128240,1514.672453
2,2015-01-01 02:00:00,174.828958,1589.024518,1045.384929,0.990280,1603.724518,836.141627,11.057296,3524.206645,1515.136084
3,2015-01-01 03:00:00,175.044416,1589.660726,1044.916863,1.253075,1604.360726,835.881591,11.061682,3523.507489,1514.835501
4,2015-01-01 04:00:00,175.742083,1595.271013,1044.403328,2.097496,1609.971013,835.596293,11.100364,3522.413117,1514.365006

In [24]:
df[df['Steam'].between(0,80)]

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam,Enthalpy
10936,2016-03-31 16:00:00,0.0,10.208063,61.733828,0.0,24.908063,289.668793,0.171735,69.507297,29.882758
10938,2016-03-31 18:00:00,0.0,10.558308,64.614762,0.0,25.258308,291.269312,0.174150,76.210428,32.764585
10953,2016-04-01 09:00:00,0.0,9.937688,60.777523,0.0,24.637688,289.137513,0.169871,67.280717,28.925501

### Temperature >= 1000(F) validation
- https://toolbox.tlv.com/global/US/calculator/superheated-steam-table.html

In [25]:
print(df['Temp (°F)'].max())
print(df['Temp (°F)'].min())
print(df['Temp (°F)'].mean())

1130.9302806599949
0.0
960.0785820059161

In [27]:
df[df['Temp (°F)'].between(1130,1132)]

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam,Enthalpy
14713,2016-09-05 01:00:00,63.522147,710.635712,1130.354945,1.441236,725.335712,883.347191,5.001016,3690.527997,1586.641392
14714,2016-09-05 02:00:00,63.447343,710.910629,1130.410831,1.348957,725.610629,883.378239,5.002911,3690.585438,1586.666087
14715,2016-09-05 03:00:00,63.416439,710.807788,1130.142432,1.356375,725.507788,883.229129,5.002202,3690.244190,1586.519377
14738,2016-09-06 02:00:00,62.846824,711.317064,1130.202448,1.383476,726.017064,883.262471,5.005713,3690.294373,1586.540951
14739,2016-09-06 03:00:00,62.832543,710.378409,1130.930281,1.539333,725.078409,883.666823,4.999242,3691.285136,1586.966903
14740,2016-09-06 04:00:00,63.053864,709.452880,1130.854662,1.368092,724.152880,883.624812,4.992860,3691.237098,1586.946251
14839,2016-09-10 07:00:00,63.286381,703.663268,1130.068977,1.582483,718.363268,883.188321,4.952942,3690.533117,1586.643593

In [28]:
df[df['Temp (°F)'].between(1000,1001)]

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam,Enthalpy
1463,2015-03-02 23:00:00,0.000000,1366.435773,1000.761576,0.000000,1381.135773,811.350875,9.522600,3477.342354,1494.988066
2318,2015-04-07 14:00:00,29.217344,1074.140116,1000.800441,46.199820,1088.840116,811.372467,7.507291,3498.191564,1503.951612
3335,2015-05-19 23:00:00,6.634566,192.480606,1000.312278,28.638414,207.180606,811.101265,1.428461,3557.576115,1529.482373

In [33]:
df.columns

Index(['Timestamp', 'Power (MW)', 'Press (psig)', 'Temp (°F)',
       'PowerSwing (MW)', 'Press_psia', 'temp_degK', 'Press_MPa', 'Steam',
       'Enthalpy', 'Temp_Range', 'Quarter', 'Year'],
      dtype='object')

### Create two visuals
#### 1. table or chart showing how many hours did the equipement operat at different temperature ranges in every quarter of every year when it was online
- aggregate data to quarters and years
- chart/table temp. most be in increments of 50(f)
- Temperature must be above 1000(f) for at least 6 hours to be considered in the chart.
#### 2. chart showing Enthalpy over time, colored by the 
- Temperature ranges when the equipement was online at temp > 1000(f).

In [30]:
df[df['Temp (°F)'] > 1000]

,Timestamp,Power (MW),Press (psig),Temp (°F),PowerSwing (MW),Press_psia,temp_degK,Press_MPa,Steam,Enthalpy
0,2015-01-01 00:00:00,175.793911,1600.368596,1038.938347,1.871170,1615.068596,832.560193,11.135510,3514.388371,1510.914986
1,2015-01-01 01:00:00,175.234412,1593.473796,1044.827381,1.727119,1608.173796,835.831878,11.087972,3523.128240,1514.672453
2,2015-01-01 02:00:00,174.828958,1589.024518,1045.384929,0.990280,1603.724518,836.141627,11.057296,3524.206645,1515.136084
3,2015-01-01 03:00:00,175.044416,1589.660726,1044.916863,1.253075,1604.360726,835.881591,11.061682,3523.507489,1514.835501
4,2015-01-01 04:00:00,175.742083,1595.271013,1044.403328,2.097496,1609.971013,835.596293,11.100364,3522.413117,1514.365006
...,...,...,...,...,...,...,...,...,...,...
17348,2016-12-23 20:00:00,66.893704,757.449622,1063.220012,3.447464,772.149622,846.050006,5.323786,3601.048966,1548.172334
17349,2016-12-23 21:00:00,71.367290,797.522160,1057.957516,9.085117,812.222160,843.126398,5.600077,3591.771225,1544.183624
17350,2016-12-23 22:00:00,62.782011,715.097437,1080.656185,4.465416,729.797437,855.736769,5.031778,3626.115792,1558.949129
17351,2016-12-23 23:00:00,62.726497,712.844865,1083.427408,1.001625,727.544865,857.276338,5.016247,3629.823246,1560.543047
17352,2016-12-24 00:00:00,15.687890,1079.084252,1036.121747,100.000000,1093.784252,830.995415,7.541380,3545.144681,1524.137819

In [59]:
temp_bins = range(1000, int(df['Temp (°F)'].max()) + 50, 50)
# label = []
# for i in temp_bins[:-1]:
#     print(f'{i} - {i+50}°F')
#     label.append(f'{i} - {i+50}°F')
# print(label)

bin_labels = [f'{i} - {i + 50}F' for i in temp_bins[:-1]]
bin_labels

['1000 - 1050F', '1050 - 1100F', '1100 - 1150F']

### Creating chart 1

In [109]:
import pandas as pd
import plotly.graph_objects as go
# aggregate data to quarterly and yearly
df['Quarter'] = pd.to_datetime(df['Timestamp']).dt.to_period('Q')
df['Year'] = pd.to_datetime(df['Timestamp']).dt.year

# Define temperature bins above 1000°F at increments of 50°F
# range(start, stop, step)
temp_bins = range(1000, int(df['Temp (°F)'].max()) + 50, 50)
# Create bin labels for these bins
bin_labels = [f'{i} - {i + 50}°F' for i in temp_bins[:-1]]

# Categorize temperature into bins
df['Temp_Range'] = pd.cut(df['Temp (°F)'], bins=temp_bins, labels=bin_labels) # , right=False (interval index ignored)

# Filter rows based on conditions
# The equipment is online if the Power (MW) is greater than 30 MW.
# The equipment is operating in steady state when PowerSwing (MW) is at most 3 MW.
df_filtered = df.loc[
    (df['Power (MW)'] > 30) & 
    (df['PowerSwing (MW)'] <= 3)
    ]

# Aggregate data: count hours within each Temp_Range for every Year-Quarter
df_agg = df_filtered.groupby(['Year', 'Quarter', 'Temp_Range'], observed=False).size().reset_index(name='Hours')

# Convert 'Year' and 'Quarter' columns to string if they are of type Period
df_agg['Year'] = df_agg['Year'].astype(str)
df_agg['Quarter'] = df_agg['Quarter'].astype(str)

# Filter out ranges with 5 hours or less
df_agg = df_agg[df_agg['Hours'] > 5]

# Sort
df_agg = df_agg.sort_values(['Year', 'Quarter', 'Temp_Range'])

In [170]:
# apply dynamic colors
unique_year = df_agg['Year'].unique()
unique_quar = df_agg['Quarter'].unique()
# plotly color scale
color = px.colors.qualitative.Set2

color_dic1 = {}
for y, c in zip(unique_year, color):
    color_dic1[y] = c
color_dic2 = {}
for q, c in zip(unique_quar, color):
    print(q, c)
    color_dic2[q] = c

colors_year = df_agg['Year'].map(color_dic1)
colors_quar  = df_agg['Quarter'].map(color_dic2)
colors_quar

2015Q1 rgb(102,194,165)
2015Q2 rgb(252,141,98)
2015Q3 rgb(141,160,203)
2015Q4 rgb(231,138,195)
2016Q1 rgb(166,216,84)
2016Q2 rgb(255,217,47)
2016Q3 rgb(229,196,148)
2016Q4 rgb(179,179,179)

0     rgb(102,194,165)
1     rgb(102,194,165)
3      rgb(252,141,98)
4      rgb(252,141,98)
6     rgb(141,160,203)
7     rgb(141,160,203)
9     rgb(231,138,195)
36     rgb(166,216,84)
37     rgb(166,216,84)
39     rgb(255,217,47)
40     rgb(255,217,47)
42    rgb(229,196,148)
43    rgb(229,196,148)
44    rgb(229,196,148)
45    rgb(179,179,179)
46    rgb(179,179,179)
Name: Quarter, dtype: object

In [206]:
import numpy as np
max_hours = df_agg['Hours'].max()
min_hours = df_agg['Hours'].min()
print(max_hours, min_hours)
color_scale = np.interp('1500', [min_hours, max_hours], [0, 1])
print(color_scale)

def get_color_for_hours(hours):
    # Adjust these thresholds and colors as needed
    max_hours = df_agg['Hours'].max()
    min_hours = df_agg['Hours'].min()
    color_scale = np.interp(hours, [min_hours, max_hours], [0, 1])
    color_list = []
    for c in color_scale:
        color_list.append(f'rgba(255,{int(255*(1-c))},0,0.6)')
    return color_list
hours_colors = get_color_for_hours(df_agg['Hours'])
hours_colors

1508 7
0.9946702198534311

['rgba(255,105,0,0.6)',
 'rgba(255,250,0,0.6)',
 'rgba(255,14,0,0.6)',
 'rgba(255,255,0,0.6)',
 'rgba(255,0,0,0.6)',
 'rgba(255,255,0,0.6)',
 'rgba(255,50,0,0.6)',
 'rgba(255,111,0,0.6)',
 'rgba(255,250,0,0.6)',
 'rgba(255,122,0,0.6)',
 'rgba(255,136,0,0.6)',
 'rgba(255,226,0,0.6)',
 'rgba(255,7,0,0.6)',
 'rgba(255,247,0,0.6)',
 'rgba(255,134,0,0.6)',
 'rgba(255,170,0,0.6)']

In [23]:
import plotly.graph_objects as go
import plotly.express as px
import numpy as np

# aggregate data to quarterly and yearly
df['Quarter'] = pd.to_datetime(df['Timestamp']).dt.to_period('Q')
df['Year'] = pd.to_datetime(df['Timestamp']).dt.year

# Define temperature bins above 1000°F at increments of 50°F
# range(start, stop, step)
temp_bins = range(1000, int(df['Temp (°F)'].max()) + 50, 50)
# Create bin labels for these bins
bin_labels = [f'{i} - {i + 50}°F' for i in temp_bins[:-1]]

# Categorize temperature into bins
df['Temp_Range'] = pd.cut(df['Temp (°F)'], bins=temp_bins, labels=bin_labels) # , right=False (interval index ignored)

# Filter rows based on conditions
# The equipment is online if the Power (MW) is greater than 30 MW.
# The equipment is operating in steady state when PowerSwing (MW) is at most 3 MW.
df_filtered = df.loc[
    (df['Power (MW)'] > 30) & 
    (df['PowerSwing (MW)'] <= 3)
    ]

# Aggregate data: count hours within each Temp_Range for every Year-Quarter
df_agg = df_filtered.groupby(['Year', 'Quarter', 'Temp_Range'], observed=False).size().reset_index(name='Hours')

# Convert 'Year' and 'Quarter' columns to string if they are of type Period
df_agg['Year'] = df_agg['Year'].astype(str)
df_agg['Quarter'] = df_agg['Quarter'].astype(str)

# Filter out ranges with 5 hours or less
df_agg = df_agg[df_agg['Hours'] > 5]

# Sort
df_agg = df_agg.sort_values(['Year', 'Quarter', 'Temp_Range'])

# apply dynamic colors
unique_year = df_agg['Year'].unique()
unique_quar = df_agg['Quarter'].unique()
# plotly color scale
color1 = px.colors.qualitative.Plotly
color2 = px.colors.qualitative.Set3
color_dic1 = {}
for y, c in zip(unique_year, color1):
    color_dic1[y] = c
color_dic2 = {}
for q, c in zip(unique_quar, color2):
    color_dic2[q] = c
# threshold colors function
def get_color_for_hours(hours):
    # Adjust these thresholds and colors as needed
    max_hours = df_agg['Hours'].max()
    min_hours = df_agg['Hours'].min()
    color_scale = np.interp(hours, [min_hours, max_hours], [0, 1]) # percentage
    color_list = []
    for c in color_scale:
        color_list.append(f'rgba(255,{int(255*(1-c))},1,0.6)') 
    return color_list

hours_colors = get_color_for_hours(df_agg['Hours'])

colors_year = df_agg['Year'].map(color_dic1)
colors_quar  = df_agg['Quarter'].map(color_dic2)

fig_table = go.Figure(data=[go.Table(
    header=dict(values=['Temperature Range', 'Hours', 'Quarter', 'Year']),
    cells=dict(values=[df_agg.Temp_Range, df_agg.Hours, df_agg.Quarter, df_agg.Year],
               fill=dict(color=['#F5F5F5', hours_colors, '#F5F5F5', '#F5F5F5']),
               align='center'),
    columnwidth=[100, 100, 100, 100]
)

])

fig_table.update_layout(title='Operational Hours in Temperature Ranges Per Quarter and Year', title_x=0.5, title_y=0.92, title_font_size=20, title_font_family='Arial')
fig_table.write_html("table.html", auto_open=True)
# fig_table.show()

NameError: name 'hours' is not defined

In [32]:
filename = 'Operational Hours in Temperature Ranges Per Quarter and Year'
# filename.replace(' ','_')
f"./charts/1_{filename.replace(' ','_')}.html"

'./charts/1_Operational_Hours_in_Temperature_Ranges_Per_Quarter_and_Year.html'

### Creating Chart 2 (3D)
- not finding a good correlation with temp and enthlapy

In [141]:
temp_bins = range(1000, int(df['Temp (°F)'].max()) + 10, 10)
for i in temp_bins[:-1]:
    print(f'{i} - {i+10}°F')

1000 - 1010°F
1010 - 1020°F
1020 - 1030°F
1030 - 1040°F
1040 - 1050°F
1050 - 1060°F
1060 - 1070°F
1070 - 1080°F
1080 - 1090°F
1090 - 1100°F
1100 - 1110°F
1110 - 1120°F
1120 - 1130°F

In [20]:
# Define temperature bins above 1000°F at increments of 50°F
# range(start, stop, step)
temp_bins = range(1000, int(df['Temp (°F)'].max()) + 10, 10)
# Create bin labels for these bins
bin_labels = [f'{i} - {i + 10}°F' for i in temp_bins[:-1]]

# Categorize temperature into bins
df['Temp_Range'] = pd.cut(df['Temp (°F)'], bins=temp_bins, labels=bin_labels)

df_filtered = df[(df['Power (MW)'] > 30) & (df['PowerSwing (MW)'] <= 3) & (df['Temp (°F)'] > 1000)]

# Convert Timestamp to a numerical value (e.g., seconds since some start time) for plotting
# Find the earliest timestamp in your data as the reference point
# min_timestamp = df_filtered['Timestamp'].min()

# Calculate the hours since the earliest timestamp
# df_filtered['Hours_since_start'] = (df_filtered['Timestamp'] - min_timestamp) / pd.Timedelta(hours=1)

# Generate a color for each temperature range
colors = px.colors.qualitative.Set1
color_map = {label: colors[i % len(colors)] for i, label in enumerate(bin_labels)}

# Apply the color mapping
df_filtered['Color'] = df_filtered['Temp_Range'].map(color_map)

# Create the Plotly figure
fig = go.Figure()

# Add a Scatter3d trace for each temperature range
for temp_range, group_data in df_filtered.groupby('Temp_Range', observed=False):
    fig.add_trace(go.Scatter3d(
        x=group_data['Timestamp'], 
        y=group_data['Enthalpy'], 
        z=group_data['Temp (°F)'],
        mode='markers',
        marker=dict(
            size=3,
            color=color_map[temp_range],  # Use the color mapped for the temperature range
        ),
        name=temp_range  # Label for the legend
    ))

# Update layout with axis labels
fig.update_layout(
    scene=dict(
        xaxis_title='Time',
        yaxis_title='Enthalpy (BTU/lb)',
        zaxis_title='Temperature (°F)',
    ),
    title='Enthalpy Over Time by Temperature Range'
)
fig.write_html("./charts/3d_Enthalpy_Over_Time_By_Temperature_Range.html", auto_open=True)
# fig.show()

C:\Users\jp_mi\AppData\Local\Temp\ipykernel_26120\2143566205.py:24: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
# Create the Plotly figure for a 2D scatter plot
fig = go.Figure()

# Add a Scatter trace for each temperature range
for temp_range, group_data in df_filtered.groupby('Temp_Range', observed=False):
    fig.add_trace(go.Scatter(
        x=group_data['Timestamp'], 
        y=group_data['Enthalpy'], 
        mode='markers',
        marker=dict(
            color=group_data['Color'], 
        ),
        name=temp_range 
    ))

fig.update_layout(
    xaxis_title='Timestamp',
    yaxis_title='Enthalpy (BTU/lb)',
    title='Enthalpy Over Time by Temperature Range',
    legend_title="Temperature Range"
)

# Show the figure
fig.write_html("./charts/Enthalpy_Over_Time_By_Temperature_Range.html", auto_open=True)
# fig.show()

### Chart that Averages 24 hour period [Not useful]

In [2]:
df_filtered['Hour'] = df_filtered['Timestamp'].dt.hour

# Group by hour and temp range label
hourly_data = df_filtered.groupby(['Hour', 'Temp_Range']).apply(lambda x: x[['Enthalpy', 'Temp (°F)']])

hourly_data.reset_index(inplace=True)

# initiate plotly figure
fig = go.Figure()

# grouping hour and temp range to dispay legend corresnponding to each group
for (hour, temp_range), group_data in hourly_data.groupby(['Hour', 'Temp_Range']):
    fig.add_trace(go.Scatter(
        x=group_data['Hour'],  
        y=group_data['Enthalpy'], 
        mode='markers', 
        marker=dict(
            size=10,  # Marker(s) size
            symbol='circle',  # Marker shape
        ),
        name=f'{temp_range} - Hour {hour}', 
        text=group_data['Temp (°F)'], 
        hoverinfo='text+name'
    ))

fig.update_layout(
    xaxis_title='Hour of Day',
    yaxis_title='Enthalpy (BTU/lb)',
    title='Enthalpy and Temperature by Hour of Day and Temperature Range',
    xaxis=dict(tickmode='linear', tick0=0, dtick=1),  # Set x-axis to show every hour
    yaxis=dict(autorange=True)
)

# Show the figure
fig.write_html("./charts/Enthalpy_And_Temperature_By_Hourly_Day_Average.html", auto_open=True)

NameError: name 'df_filtered' is not defined

### Chart of Average Enthalpy, and Temperature over average 24 hour period

In [21]:
df_filtered['Hour'] = df_filtered['Timestamp'].dt.hour
hourly_avg = df_filtered.groupby('Hour')[['Enthalpy', 'Temp (°F)']].mean().reset_index()

# Create the Plotly figure for a 2D scatter plot
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=hourly_avg['Hour'],  
    y=hourly_avg['Enthalpy'],  
    mode='markers+lines',  # Combine markers and lines for the plot
    name='Average Enthalpy',  # Name for the legend
    marker=dict(size=5),  # Marker size
))

fig.add_trace(go.Scatter(
    x=hourly_avg['Hour'],  
    y=hourly_avg['Temp (°F)'],  
    mode='markers+lines', 
    name='Average Temperature',  
    marker=dict(size=5),  # Marker size
    yaxis='y2'  # Assign to secondary y-axis
))


fig.update_layout(
    xaxis_title='Hour of Day',
    yaxis_title='Average Enthalpy (BTU/lb)',
    yaxis2=dict(
        title='Average Temperature (°F)',
        overlaying='y',
        side='right'
    ),
    title='Daily Cycle Representation of Enthalpy and Temperature (Average over 2 Years: 2015-2016)',
    xaxis=dict(tickmode='linear', tick0=0, dtick=1), 
)

# # Show the figure
# fig.show()

# Save the figure as HTML
fig.write_html("hourly_avg_enthalpy_temperature.html", auto_open=True)

C:\Users\jp_mi\AppData\Local\Temp\ipykernel_26120\4284422005.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy